.skillItem {
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: white;
    width: 150px;
    height: 150px;
    text-align: center;
    margin: 10px;
}


.icon_item {
    width: 100px;
    height: 100px;
}
.icon_item:hover{
    transition: 1s;
    transform: scale(1.5) ;
}
.title {
    font-size: 24px;
    margin-bottom: 15px;
    color: #ffffff;
    font-weight: 300;
}

.description {
    padding: 20px;
    line-height: 1.5;
}

@media (max-width: 1003px) {
    .skillItem {
        margin-bottom: 15px;
    }
}

