.skillItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    background-color: white;
    text-align: center;
}

.icon {
    width: 60px;
    height: 60px;
    background-color: #f38cec;
}

.description {

}