.skillItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    background-color: white;
    text-align: center;
    margin: 10px;
}

.icon {
    width: 60px;
    height: 60px;
    background-color: #f38cec;
}

.description {

}

@media (max-width: 1003px) {
    .skillItem {
        margin: 0;
        margin-bottom: 10px;
    }
}

@media (max-width: 624px) {
    .skillItem {
    }
}