.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 40px;
    margin: 0 auto;
    padding: 20px;
    height: 100%;
    width: 80%;
}

/*.container {*/
/*    display: flex;*/
/*    justify-content: space-around;*/
/*    flex-wrap: wrap;*/
/*    align-items: center;*/
/*    margin: 0 auto;*/
/*    height: 100%;*/
/*    width: 80%;*/
/*}*/