.worksItemBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    /*border: 1px solid;*/
    width: 450px;
    margin-bottom: 30px;
}

.worksItemIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 450px;
    height: 300px;
    background-color: white;
}

.titleWorksItemIcon {
    color: black;
    font-size: 24px;
    background-color: #ff9f9f;
    padding: 15px 40px;
}

.titleWorksItemIcon:hover {
    background-color: #a15959;
}

.description {
    padding: 20px;
    line-height: 1.5;
}

@media (max-width: 565px) {
    .worksItemIcon {
        width: 100%;
        margin-bottom: 15px;
    }

    .description {
        margin-bottom: 15px;
    }
}