.worksItemBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 450px;
    padding-right: 15px;
}

.worksItemBlock:hover {
    opacity: 0.7;
}

.worksItemIcon {
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 450px;
    height: 350px;
    background-color: white;
}

.titleWorksItemIcon {
    color: #ffffff;
    font-size: 24px;
    background-color: #000000;
    padding: 15px 40px;
    opacity: 0.8;
}

.titleWorksItemIcon:hover {
    background-color: #ffffff;
    color: black;
    border: 2px solid #000000;
    transition: 1s;
}

.descriptionBlock {
    border: white solid 1px;
    padding: 20px;
    background: #000000;
}

.title {
    color: #ffffff;
}

.description {
    color: #ffffff;
    padding: 20px;
    line-height: 1.5;
}

@media (max-width: 565px) {
    .worksItemBlock{
        width: auto;
    }

    .worksItemIcon {
        margin: 0 auto;
        margin-bottom: 15px;
        width: 300px;
    }

    .description {
        margin-bottom: 15px;
    }
}