.skillsBlock {
    display: flex;
    align-items: center;
    background-color: #000000;
    border-bottom: 1px solid #808080;
    border-top: 1px solid #808080;
}

.skillsContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.title {
    color: #ffffff;
    margin-top: 60px;
    margin-bottom: 60px;
    font-size: 30px;
    font-weight: 900;
}

.skills {
    display: flex;
    justify-content: space-between;
    /*border: 1px solid;*/
    width: 100%;
    flex-wrap: wrap;
    margin-bottom: 60px;
}


@media (max-width: 674px) {
    .skills {
        justify-content: space-around;
    }

    .title {
        margin-top: 45px;
        margin-bottom: 50px;
    }
}


