.skillsBlock {
    display: flex;
    align-items: center;

    background-color: #f8e9ba;
    min-height: 100vh;
}

.skillsContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.title {
    background-color: #a393e6;
    margin-top: 30px;
    margin-bottom: 100px;
    font-size: 30px;
}

.skills {
    display: flex;
    justify-content: space-between;
    /*border: 1px solid;*/
    width: 100%;
    flex-wrap: wrap;
    margin-bottom: 60px;
}


@media (max-width: 625px) {
    .skills {
       justify-content: center;
    }

    .title {
        margin-top: 45px;
        margin-bottom: 50px;
    }
}


