.skillsBlock {
    height: 100vh;
    background-color: #f8e9ba;
}

.skillsContainer {
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}

.title {

}

.skills {
    display: flex;
    justify-content: space-between;
    border: 1px solid;
    width: 100%;
}