.main {
    height: 100vh;
    background-image: url("https://images.wallpaperscraft.ru/image/single/gory_zima_doroga_136748_2048x1152.jpg");
    background-repeat: no-repeat;
}

.text {
    width: 300px;
    background-color: #ff9f9f;
}

h1 {
    margin: 0;
}

.photo {
    width: 300px;
    height: 400px;
    background-color: #efbebe;
}