.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 501px;
}

.form input {
    color: #ffffff;
    width: 499px;
    padding: 10px 0 10px;
    margin-bottom: 15px;
    border-radius: 7px;
    border: 3px solid #a393e6;
    background: #295d92;
    opacity: 0.8;
}

.form textarea {
    color: #ffffff;
    border-radius: 7px;
    background: #295d92;
    border: 3px solid #a393e6;
    opacity: 0.8;
    height: 100px;
    width: 499px;
}


.buttonSend {
    padding: 10px 15px;
    margin-top: 70px;
    font-size: 25px;
    width: 250px;
    background-color: #ff9f9f;
    border: none;
}

.buttonSend:hover {
    background-color: #c96969;
}


@media (max-width: 626px) {

   .form input {
        width: 100%;
    }
   .form textarea {
        width: 100%;
    }

}


@media (max-width: 450px) {

    .buttonSend {
        width: 200px;
    }
}
