.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 500px;
}

.form label {
    width: 100%;
}

.form input {
    font-size: 14px;
    background: #18334e;
    color: #ffffff;
    /*width: 474px;*/
    width: 100%;
    margin-bottom: 15px;
    border-radius: 7px;
    border: 2px solid #000000;
    padding: 20px 15px 15px;
    opacity: 0.8;
}

.form input:focus {
    border: none;
}

.form textarea {
    font-size: 14px;
    width: 100%;
    color: #ffffff;
    border-radius: 7px;
    background: #18334e;
    border: 2px solid #000000;
    padding: 20px 15px 15px;
    opacity: 0.8;
    height: 100px;
    /*width: 474px;*/
}

.form textarea:focus {
    border: none;
}


@media (max-width: 606px) {

    .form {
        min-width: unset;
    }
}

