.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 80px;
    width: 100%;
    background-color: #8daef5;
}

@media (max-width: 450px) {
    .header {
        justify-content: center;
    }
}
