.worksBlock {
    background-color: rgba(25 42 58);
}

.worksContainer {
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    background-image: url("https://hdoboi.kiev.ua/images/25.Jun.2019-planety-zvezdy-tumannost-vselennaya.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.title {
    color: #ffffff;
    margin-top: 60px;
    margin-bottom: 60px;
    font-size: 50px;
    font-weight: 700;
}



.works {
    display: flex;
    justify-content: space-around;
    width: 100%;
}


@media (max-width: 1124px) {
    .works {
        justify-content: space-around;
    }
}


@media (max-width: 625px) {
    .title {
        margin-top: 45px;
        margin-bottom: 50px;
    }

}


