.worksBlock {
    background-color: #1f1d1d;
    border-bottom: 1px solid #808080;
}

.worksContainer {
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
}

.title {
    color: #ffff;
    margin: 60px 0;
    font-size: 50px;
    font-weight: 600;
}

.works {
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
}

.btnGithub {
    display: block;
    text-align: center;
    margin: 100px 0;
    width: 250px;
    padding: 20px 0;
    font-size: 30px;
    color: #ffffff;
    border: 1px solid #ffffff;
    transition: transform 0.3s;
}

.btnGithub:hover {
    background: #ffffff;
    color: #000000;
    transform: translateY(-6px);
}

@media (max-width: 625px) {
    .title {
        font-size: 30px;
        margin-top: 25px;
        margin-bottom: 0px;
    }
    .btnGithub{
        margin: 30px;
    }
}


