.worksBlock {
    min-height: 100vh;
    background-color: #f38cec;
}

.worksContainer {
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}

.title {

}

.work {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    border: 1px solid ;
}

