.footerBlock {
    background-color: #000000;
    border-top: 1px solid white;
}

.footerContainer {
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}

.footerSocial {
    display: flex;
    justify-content: center;
    width: 650px;
}


.title {
    font-size: 24px;
    color: #ffffff;
    margin: 15px auto;
}

@media (max-width: 818px) {
    .footerSocial {
        width: 100%;
    }
}
