.footerBlock {
    background-color: #ff9f9f;
}

.footerContainer {
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}

.footerSocial {
    display: flex;
    justify-content: space-between;
    /*border: 1px solid red;*/
    width: 650px;
}

.footerText {
    margin-top: 50px;
    background-color: #a393e6;
}

.title {
    background-color: #a393e6;
    margin-top: 50px;
    margin-bottom: 35px;
    font-size: 30px;
}

@media (max-width: 818px) {
    .footerSocial {
        width: 100%;
    }

    .title {

    }
}
