.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    margin-right: 40px;
    margin-left: 20px;
}

.nav .Link {
    color: #ffffff;
    text-decoration: none;
    font-weight: 600;
}

.nav .Link:hover {
    text-decoration: underline;
    text-underline-offset: 5px;
}

.nav a:active {
    scale: 1.1;
}