.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    margin-right: 40px;
    margin-left: 20px;
}

.nav a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #d96969;
}