.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    margin-right: 40px;
    margin-left: 20px;
}

.nav a {
    color: white;
    text-decoration: none;
    font-weight: 600;
}

.nav a:hover {
    color: green;
}

.nav a:active {
    scale: 1.1;
}