.contactsBlock {
    position: relative;
    height: 80vh;
    width: 100%;
    overflow: hidden;
    /*background-image: url("../../assets/img/cuberpank.jpg");*/
    /*background-repeat: no-repeat;*/
    /*background-size: cover;*/
    /*background-color: #191919;*/
    background: #000000;
}

.contactsContainer {
    position: relative;
    z-index: 10;
    flex-direction: row;
    align-items: center;
}

.contactsFormBlock {
    display: flex;
    justify-content: center;
    width: 100%;
}


.title {
    color: #ffffff;
    font-size: 60px;
    font-weight: 800;
    margin: 0 auto;
    text-shadow: 2px 2px 0 green, 2px -6px 0 #4074b5, -4px 2px 0 #4074b5, -2px -2px 0 #4074b5, 2px 0px 0 #4074b5, 0px 2px 0 #4074b5, -2px 0px 0 #4074b5, 0px -4px 0 #4074b5;
}