.contactsBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 80vh;
    width: 100%;
    overflow: hidden;
    background: #ffffff;
}

.contactsContainer {
    position: relative;
    z-index: 10;
    flex-direction: row;
}

.contactsFormBlock {
    display: flex;
    justify-content: center;
    width: 100%;
}


.title {
    text-align: center;
    color: #ffffff;
    font-size: 50px;
    font-weight: 600;
    margin: 60px 0;
}